Repository AlexWayfer/flame_app_template: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
  install_script:
  - gem update --system --no-document
  - bundle update
  container:
    image: ruby
  audit_script: bundle exec bundle-audit check --update

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
  install_script:
  - gem update --system --no-document
  - bundle update
  container:
    image: ruby
  lint_script: bundle exec rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
  install_script:
  - gem update --system --no-document
  - bundle update
  container:
    image: ruby
  os_setup_script:
  - apt-get update && apt-get upgrade -y && apt-get install git make gcc -y
  ...

Update dependencies, especially Flame
  template/Gemfile
Due: rspec

Update styles, resolve `@include` warnings
  template/assets/styles/_colors.scss
  template/assets/styles/components/_flash.scss
  template/assets/styles/components/_footer.scss
  template/assets/styles/components/_forms.scss
  template/assets/styles/components/_header.scss
  template/assets/styles/components/_page.scss
  template/assets/styles/lib/_headings.scss
  template/assets/styles/lib/_input-with-clear-button.scss
  template/assets/styles/lib/_inputs-with-types.scss
  template/assets/styles/lib/_sticky-footer.scss
  template/assets/styles/main.scss
Due: rspec

Resolve new SASS warning about `if`
  template/assets/styles/lib/_small-and-large-elements.scss
Due: rspec

Resolve new Stylelint warnings about double quotes
  template/assets/styles/_colors.scss
  template/assets/styles/components/_flash.scss
  template/assets/styles/components/_footer.scss
  template/assets/styles/components/_forms.scss
  template/assets/styles/components/_header.scss
  template/assets/styles/components/_page.scss
  template/assets/styles/lib/_inputs-with-types.scss
Due: rspec

Resolve new Stylelint warning about max empty lines
  template/assets/styles/main.scss
Due: rspec

Disable new Stylelint offenses about empty lines before dollars
  template/assets/styles/components/_forms.scss
  template/assets/styles/components/_header.scss
Due: rspec

Resolve new Stylelint offenses about redundant nested style rules
  template/assets/styles/lib/_sticky-footer.scss
  template/assets/styles/main.scss
Due: rspec

Resolve new RuboCop offenses in template
  template/controllers/_controller.rb.erb
  template/forms/_base.rb.erb
Due: rspec

Temporary disable `outdated Ruby gems` specs
  spec/generated_flame_app_spec.rb
Due: rubocop, rspec

Remove Code Climate badges from README
  README.md
Due: remark

Replace Code Climate code coverage with Codecov
  .cirrus.yaml
  Gemfile
  spec/spec_helper.rb
Due: remark, bundle-audit, rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, .rubocop.yml, **.rb, **.ru
  rspec: any of: .cirrus.yaml, .gitignore, Gemfile, .rspec, template/**, spec/**
