Repository AlexWayfer/flame_app_template: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  bundle-audit_script: bundle audit check --update

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  lint_script: bundle exec rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  os_setup_script:
  - apt-get update && apt-get upgrade -y && apt-get install git make gcc -y
  ...

Fix RuboCop for the gem
  .rubocop.yml
Due: rubocop

Replace local version of `flame_app_generator` with released one
  Gemfile
Due: bundle-audit, rubocop, rspec

Speed up specs by `before :all`
  spec/generated_flame_app_spec.rb
Due: rubocop, rspec

Try to fix Cirrus CI config
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Return all rules to Stylelint via third-party plugin
  template/.stylelint-codesguide.yaml
  template/.stylelintrc.yaml
  template/package.json
Due: rspec

Replace deprecated `stylelint-codeguide` with new `@stylistic/stylelint-config`
  template/.stylelint-codesguide.yaml
  template/.stylelintrc.yaml
  template/package.json
Due: rspec

Ignore some of `no-unsupported-browser-features` for SCSS files
  template/.stylelintrc.yaml
Due: rspec

Return `tab` style to `remark-lint-list-item-indent`
  .remarkrc.yaml
Due: remark

Return `tab` style to `remark-lint-list-item-indent` for template
  template/.remarkrc.yaml
Due: rspec

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update Remark lint
  .remarkrc.yaml
  package.json
  template/.remarkrc.yaml
  template/package.json
Due: remark, rspec

Update `flame_app_generator`
  Gemfile
Due: bundle-audit, rubocop, rspec

Update development dependencies
  Gemfile
Due: bundle-audit, rubocop, rspec

Split CSS, JS and Markdown lints in specs
  spec/generated_flame_app_spec.rb
Due: rubocop, rspec

Fix `bundle` executable for Ruby setup
  template/exe/setup/ruby.sh
Due: rspec

Update ESLint
  template/.eslintignore
  template/.eslintrc.yaml
  template/assets/scripts/.eslintrc.yaml
  template/assets/scripts/main.js
  template/eslint.config.js
  template/package.json
Due: rspec

Update PostCSS
  template/.stylelintrc.yaml
  template/assets/styles/components/_page.scss
  template/assets/styles/lib/_breakpoints.scss
  template/assets/styles/lib/_sticky-footer.scss
  template/assets/styles/main.scss
  template/postcss.config.cjs
Due: rspec

Change `package.json` type into `module` in the template
  template/package.json
Due: rspec

Update server specs
  spec/generated_flame_app_spec.rb
Due: rubocop, rspec

Disable RuboCop's `RSpec/InstanceVariable` for usage in specs
  spec/generated_flame_app_spec.rb
Due: rubocop, rspec

Update `flame_app_generator` to the fixed version
  Gemfile
Due: bundle-audit, rubocop, rspec

Add LICENSE file
  LICENSE.txt
Due: none

Add badges into README
  README.md
Due: remark

Remove Codecov badge from README
  README.md
Due: remark

Add SimpleCov
  .gitignore
  Gemfile
  spec/spec_helper.rb
Due: remark, bundle-audit, rubocop, rspec

Add Code Climate test coverage script for Cirrus CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Add Code Climate test coverage badge into README
  README.md
Due: remark

Fix Code Coverage badge in README
  README.md
Due: remark

Replace `require:` with `plugins:` for RuboCop plugins
  .rubocop.yml
Due: rubocop

Replace `require:` with `plugins:` for RuboCop plugins in template
  template/.rubocop.yml.erb
Due: rspec

Resolve new RuboCop offense in template
  template/config/processors/sentry.rb.erb
Due: rspec

Add `.ruby-version` file to `.gitignore`
  .gitignore
Due: remark, bundle-audit, rubocop, rspec

Update RuboCop and its plugins
  Gemfile
Due: bundle-audit, rubocop, rspec

Comment out `puts` in specs
  spec/generated_flame_app_spec.rb
Due: rubocop, rspec

Resolve new `bundle update` deprecation warning in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Drop Ruby 3.0 and 3.1 support
  .rubocop.yml
Due: rubocop

Path conditions:
  remark: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru
  rspec: any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**, template/**
